* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h1, h2, h3 {
  font-family: 'Fahkwang', sans-serif;
  font-weight: 600;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */

header {
  background: #5a2606;
  padding: 20px 0;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
    height: 60px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.btn-header {
  background: #d4a24c;
  padding: 8px 16px;
  border-radius: 4px;
}

/* HERO */

.hero {
  position: relative;
  overflow: visible; /* importante */
  min-height: 100vh;
  background: url("img/predio1.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-overlay {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-text {
  position: relative;
  bottom: -80px; /* controla o quanto ele invade a próxima seção */
  z-index: 2;
  background: #b87300;
  color: white;
  width: 420px;
  max-width: 90%;
  padding: 70px 50px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  align-items: flex-start; /* mantém texto alinhado à esquerda */
}

.hero-text h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 20px;
}

.btn-primary {
  background: #bda062;
  padding: 12px 24px;
  color: #fcfcfc;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
  border-radius: 4px; /* aqui */
  transition: 0.3s ease;
  align-self: center;   /* centraliza só o botão */
  margin-top: 25px;
}

.btn-primary:hover {
  background: #f0d8a8;
  transform: translateY(-2px);
}

/* HOME */

.home {
  padding: 160px 0 100px 0;
  text-align: center;
  background: #fdfbfb;
}

.home h2 {
  margin-bottom: 25px;
  font-size: 2.5rem;
}

.home p {
  font-size: 1.05rem;
  line-height: 1.7;
}

.home .container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

/* ÁREAS */

.areas {
  background: #5a2606;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.areas h2 {
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #b87300;
  padding: 40px;
  align-items: center;
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  margin-bottom: 15px;
}

.card a {
  display: inline-block;
  margin-top: 15px;
  color: rgba(100, 58, 3, 0.836);
  text-decoration: underline;
}

/* CONTATO */

.contato {
  padding: 80px 0;
  background: #f2f2f2;
}

.contato h2 {
  margin-bottom: 30px;
}

.contato p {
  margin-bottom: 6px;
  line-height: 1.8;
}
.contato-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contato-info p {
  margin-bottom: 6px;
}

.mapa {
  margin-top: 25px;
}

.mapa iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background: #d4a24c;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* FOOTER */

footer {
  background: #5a2606;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVO */

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
  }

  .hero-text, .hero-img {
    width: 100%;
  }

  .contato-grid {
    grid-template-columns: 1fr;
  }

  .grid {
  grid-template-columns: 1fr;
  }
}

/* ===== SOBRE HERO ===== */

.sobre-hero {
  position: relative;
  min-height: 70vh;
  background: url("img/predio2.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.sobre-overlay {
  width: 100%;
  display: flex;
  align-items: center;
}

.sobre-box {
  position: relative;
  bottom: -80px; /* invade a próxima seção */
  z-index: 2;
  background: #b87300;
  color: white;
  width: 420px;
  max-width: 90%;
  padding: 70px 50px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 22px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.sobre-box h1 {
  font-size: 2.2rem;
  line-height: 1.2;
}

.sobre-box p {
  font-size: 0.95rem;
  line-height: 1.6;
}

/* TEXTO SOBRE */

.sobre-texto {
  padding: 160px 0 100px 0;
  background: #f2f2f2;
}

.sobre-texto-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* DRA SECTION */

.dra-section {
  background: #6a2f0a;
  color: white;
  padding: 80px 0;
}

.dra-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  align-items: center;
}

.dra-img img {
  width: 100%;
  max-width: 350px;
}

.dra-info h2 {
  font-size: 2.5rem;
}

.dra-info span {
  display: block;
  margin-bottom: 110px; 
}

.frase {
  font-weight: bold;
  margin-top: 40px; 
}

/* ===== COMENTÁRIOS ===== */

.comentarios {
  background: #eee;
  padding: 80px 0; 
}

.comentarios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.comentario {
  padding: 40px 30px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.comentario:last-child {
  border-right: none;
}

/* ASPAS */
.aspas {
  width: 60px;
  margin-bottom: 25px;
  opacity: 0.7;
}

/* Nome */
.comentario h3 {
  margin-bottom: 25px;
  font-weight: 800;
}

/* Texto */
.comentario p {
  line-height: 1.7;
  font-size: 0.95rem;
}

/* REDES */

.redes-section {
  background: #c9973a;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.redes-content h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.redes-content p {
  margin-bottom: 5px;
  line-height: 1.6;
}

.btn-redes {
  background: #6a2f0a;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

/* FOOTER COM REDES */

.footer-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.footer-container p {
  text-align: center;
}

/* Ícones direita */

.footer-redes {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
}

.footer-redes a {
  transition: 0.3s;
}

.footer-redes a:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

/* BOTÃO WHATSAPP FLUTUANTE */

.whatsapp-float {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 63px;
  height: 63px;
  background: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  z-index: 999;
  transition: 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.08);
}

/* BLOG */
.blog {
padding:80px 0;
background:#eee;
text-align:center;
}

.blog h1 {
margin-bottom:60px;
font-size:2.3rem;
}

.blog-lista {
width:900px;
max-width:95%;
margin:auto;
}

.blog-post {
display:flex;
background:white;
margin-bottom:30px;
text-decoration:none;
color:black;
border:1px solid #d4a24c;
}

.blog-post img {
width:300px;
object-fit:cover;
}

.blog-info {
padding:30px;
text-align:left;
}

.blog-info h2 {
margin-bottom:15px;
}

/* META DO POST */

.post-meta{
display:flex;
align-items:center;
margin-top:40px;
gap:12px;
margin-bottom:25px;
}

.post-autor{
width:40px;
height:40px;
border-radius:50%;
object-fit:cover;
}

.post-info{
font-size:14px;
color:#555;
}

.post-info .autor{
font-weight:600;
}

.separador{
margin:0 6px;
}

/* ===== ARTIGO BLOG ===== */

artigo {
padding:160px 0 100px 0;
background:#f5f5f5;
}

/* Container menor para leitura */
.artigo .container{
max-width:750px;
margin:auto;
}

/* Título */
.artigo h1{
font-size:2.3rem;
margin-bottom:40px;
line-height:1.3;
}

/* Texto */
.artigo p{
font-size:1.05rem;
line-height:1.9;
margin-bottom:28px;
color:#333;
}

.artigo strong{
font-weight:600;
}

.artigo ul{
margin:20px 0 30px 20px;
}

.artigo li{
margin-bottom:10px;
}

.btn-artigo{
display:block;          /* permite centralizar */
width:fit-content;      /* largura só do conteúdo */
margin:40px auto;       /* centraliza horizontalmente */
background:#d4a24c;
color:white;
padding:16px 32px;
text-decoration:none;
border-radius:6px;
font-weight:600;
transition:0.3s;
}

.btn-artigo:hover{
background:#5a2606;
transform:translateY(-2px);
}

/* TEXTO DESTACADO ABAIXO DO TÍTULO */

.intro-post{
border-left:3px solid #666;
padding-left:20px;
margin:20px 0 40px 0;
}

.intro-post p{
font-size:1.1rem;
line-height:1.9;
color:#222;
}

/* POSTS RECENTES */

.mais-posts{
padding:70px 0;
text-align:center;
}

.mais-posts h2{
margin-bottom:80px;
font-size:1.8rem;
}

/* Linha centralizada */
.posts-linha{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
max-width:900px;
margin:auto;
margin-top:40px; /* espaço extra */
}

/* Card */
.mini-post{
width:200px;
background:white;
border:1px solid #cf8b15;
text-decoration:none;
color:rgb(202, 143, 17);
transition:0.3s;
}

/* Imagem */
.mini-post img{
width:100%;
height:140px;
object-fit:cover;
}

/* Título */
.mini-post h3{
font-size:1rem;
padding:15px;
line-height:1.4;
}

/* Hover */
.mini-post:hover{
transform:translateY(-5px);
box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

/* COMENTARIOS */
.comentarios-post {
padding:50px 0;
}

.comentarios-post input {
width:100%;
padding:15px;
}